# THIS USED PIPREQS PACKAGE TO GENERATE
dj_database_url==1.3.0
Django==4.1.7
django_heroku==0.3.1
djangorestframework_simplejwt==5.2.2
graphene==3.2.1
names==0.3.0
numpy==1.24.2
pandas==1.5.3
PuLP==2.7.0
rest_framework_simplejwt==0.0.2
temporalio==1.1.0
