form {
  max-width: 500px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  height: 25px;
}

input[type="email"]
{
    font-size: 20px;
    color: white;
}

label {
  line-height: 1;
  text-align: left;
  display: block;
  color: #d4380d;
  font-size: 14px;
  font-weight: bold;
}

button,
input[type="submit"] {
  background: #d4380d;
  color: white;
  border: none;
  padding: 20px;
  font-size: 16px;
  font-weight: Bold;
}

button {
  /*display: block;*/
  appearance: none;
  border-radius: 4px;
  width: 100%;
}

input[type="submit"]:hover {
  background: #e63a0d;
}