h1 {
  margin-bottom: 50px;
  padding-bottom: 5px;
}

.number-inputs {
  margin-bottom: 20px;
}

label {
  padding-bottom: 10px;
}

input {
  font-size: 80px;
  border-radius: 10px;
  border: 1px solid #ff9e5e;
  width: 10%;
  padding: 10px;
  text-align: center;
  background: #ff9e5e;
  color: #ffffff;
}

input::placeholder {
  color: #ffe1bc;
}

input:first-child {
  margin-right: 20px;
}

button {
  padding: 25px 50px;
  font-size: 30px;
  border-radius: 20px 40px;
  background: #ff9e5e;
  border: none;
  margin-bottom: 250px;
  color: #ffffff;
  cursor: pointer;
}
